:root {
    --gradient: linear-gradient(45deg,#60d17c, #4594e9);
}

.gradient-animation {
    background-size: 100%;
    background-image: var(--gradient);
    animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
